<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href="./styles.css" />
		<title>Cafe with a Vue</title>
	</head>
	<body>
		<div id="app">
			<h1>VueMart</h1>
  
  			<h2>Panier</h2>
			<ul>
				<li v-for="item in shoppingCart">
					{{ item.label }}: {{ item.cost }} €
				</li>
				
			</ul>
			<p>Total: {{ totalAmount }}€</li>
			<ul>
				<li v-for="item in apiResponse">
					<a :href="item.url">{{ item.name }}</a>
				</li>
			</ul>
			
			<footer class="footer">
				<p>{{ copyright }}</p>
			</footer>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script>
			const app = new Vue({
			  el: '#app',
			  data: {
				shoppingCart: [
					{ label: 'Bananes', cost: '6'},
					{ label: 'Pommes', cost: '2'},
					{ label: 'Noix de coco', cost: '8'}
				],
				apiResponse: [
						{ name: 'GitHub', url: 'https://www.github.com' },
						{ name: 'Twitter', url: 'https://www.twitter.com' },
						{ name: 'Netlify', url: 'https://www.netlify.com' }
				],
				name : "Café avec vue"
			  },
			  computed: {
				totalAmount() { 
					return this.costPommes + this.costBananes + this.costNoixDeCoco
				},
				copyright() {
					return "Copyright " + this.name + " 2020"
				}
			  }
			})
		</script>
		  
		
		
		
	</body>
	  
	
</html>
